.App-header {
  background-color: #FFFFFF;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 1vmin);
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  padding: 0;
}

.author-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.title-logo-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin-left: 150px;
  height: auto;
}

.text-content {
  flex: 1;
  padding: 10px;
  width: 50%;
}

.text-content h2 {
  text-align: left;
  font-weight: 800;
  margin-top: 60px;
}

.text-content h3 {
  font-weight: 700;
  text-align: left;
}

.text-content h4 {
  font-weight: 400;
  text-align: left;
  margin-bottom: 80px;
}

.intro h5 {
  margin-top: 20px;
  color: #333;
}

.intro p {
  margin-top: 10px;
  text-align: left;
  max-width: 500px;
}

.intro-title {
  font-size: 4vw;
}

.start-button {
  background-color: rgb(113, 99, 87);
  color: white;
  border: none;
  font-size: 24px;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 700;
}
.btn-text {
  font-size: 12px;
  font-family: sans-serif;
}

.start-button:hover {
  background-color: rgb(134, 122, 112);
}

.start-button-container {
  text-align: left;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 32px;
}

.svg-text-container {
  display: flex;
  align-items: center;
  padding-bottom: 24px;
}

.start-svg {
  margin-right: 4px;
  margin-bottom: 3px;
  height: 15px;
  width: 15px;
}

.start-item {
  font-size: 14px;
  vertical-align: middle;
  text-align: left;
}

.App-logo {
  height: 100%;
  max-height: 100vh;
  max-width: auto;
  pointer-events: none;
  font-family: 'Montserrat', sans-serif;
}

@media only screen and (orientation: portrait) {
  .title-logo-container {
    flex-direction: column;
    margin-left: 10px;
  }

  .intro-title {
    font-size: 6vw;
  }

  .text-content {
    width: 90%;
    text-align: center;
    margin-bottom: 0px;
    padding: 5px;
  }

  .author-info img {
    width: 80%;
    height: auto;
    margin-top: -20px;
  }

  .start-button {
    font-size: 6vw;
  }
  
}

@media only screen and (max-height: 768px) and (orientation: portrait) {
  .header-content {
    padding-top: 10px;
  }

  .intro-title {
    font-size: 5vw;
    margin-top: 10px;
  }

  .text-content {
    padding-top: 10px;
  }

  .author-info img {
    width: 50%;
    height: auto;
  }
}